#root {
  color: var(--text-color);

}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  background-color: var(--element-color);
  /*box-shadow: 0 0 .2rem .05rem rgba(0, 0, 0, 0.281); */
}

h1 {
  font-size: 1rem;
  font-weight: var(--bold);
}

.name-detail{
  margin-top: 1.5rem;
}

.color-mode-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  cursor: pointer;
}

.color-icon {
  width: 1rem;
  color: var(--text-color);
  fill: var(--text-color);
  margin-right: .5rem;
}

.color-mode-text {
  font-size: .8rem;
  font-weight: var(--medium);
}

.main-home {
  position: relative;
  padding: 1rem;
  padding-top: 1.5rem;
  background-color: var(--bg-color);
}

.search-bar {
  display: flex;
  align-items: center;

  padding: 1rem;
  background-color: var(--element-color);

  border-radius: 0.5rem;
  margin-bottom: 2rem;

  box-shadow: 0 0 .2rem .05rem rgba(0, 0, 0, 0.281);
}

.search-icon {
  width: 1rem;
  margin: 0 2rem 0 1rem;
}

.search-input {
  background-color: var(--element-color);
  border: none;

  font-family: Nunito Sans;
  color: var(--input-color);
}

.search-input::placeholder {
  color: var(--input-color);
}

.search-input:focus {
  outline: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 1rem;
  background-color: var(--element-color);
  border-radius: 0.5rem;

  box-shadow: 0 0 .2rem .05rem rgba(0, 0, 0, 0.281);
  
}

.filter-dropdown {
  border: none;
  outline: none;

  display: flex;
  align-items: center;
  background-color: var(--element-color);
  color: var(--text-color);
  padding: 0;
}

.dropdown-caret {
  width: 1rem;
  margin-right: 2rem;
  margin-left: 1rem;

  fill: var(--text-color);
}

.dropdown-items {
  display: none;
  position: absolute;

  background-color: var(--element-color);
  border-radius: 0.5rem;
  z-index: 1;
  padding: 1rem;
  left: 0;
}

.dropdown-items ul {
  padding: 0;
}

.dropdown:hover .dropdown-items,  .dropdown:focus .dropdown-items, .dropdown:active .dropdown-items{
  display: block;
}

.filter-item{
  list-style-type: none;
  cursor: pointer;
  width: 100%;  
}


.active-region {
  text-decoration: underline;
}

.main-detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 4rem;
  align-items: center;
  padding: 2rem;
}
.info-detail {
  width: 100%;
  max-width: 36rem;
}

.country-flag-detail{
  max-width: 36rem;
  width: 100%;
}
.info-detail p {

}

button {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}

.back-button {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: .25rem, 1rem;
  border: none;
  border-radius: .1rem;
  background-color: var(--element-color);
  color: var(--text-color); 
  font-family: Nunito Sans;

  box-shadow: 0 0 .2rem .05rem rgba(0, 0, 0, 0.281);
  margin: 2rem 2rem 1rem 2rem;
  cursor: pointer;
}

.back-button span {
  margin-right: 1rem;
}

.back-arrow {
  width: 1.2rem;
  margin-right: .5rem;
  margin-left: 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;

  padding: .25rem 0;
}


.border-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.border-country-button {
  padding: .25rem, 1rem;
  border: none;
  border-radius: .1rem;
  background-color: var(--element-color);
  color: var(--text-color); 
  font-family: Nunito Sans;

  box-shadow: 0 0 .2rem .05rem rgba(0, 0, 0, 0.281);
  cursor: pointer;
}